.todo-app {
  margin: 0 auto;
  width: 480px;
  padding: 5px;
  background-color: aliceblue;
}

.todo-app ul{
  list-style-type:none;
  padding-left: 10px;
}

.todo-app li button{
  margin-left: 10px;
  color: red;
}

.todo-app input[type=text]{
  margin-left: 5px;
}

.todo-app li[data-ischecked=true]{
  color:gray;
  text-decoration: line-through;
}

.todo-app .active {
  color: red;
}

.todoForm{
  display: "flex";
  justify-content: "space-between";
  width: "200px"
}

.todoFilter a{
  padding:  10px;
}